--acronyms ID,URL,UUID
--allman false
--closingparen balanced
--commas inline
--elseposition same-line
--extensionacl on-extension
--header ignore
--ifdef no-indent
--importgrouping alpha
--indent 4
--linebreaks lf
--maxwidth 130
--organizationmode visibility
--self remove
--semicolons never
--stripunusedargs closure-only
--trimwhitespace always
--voidtype void
--wraparguments preserve
--wrapcollections preserve
--wrapconditions preserve
--wraptypealiases preserve
